/*to view the video tutorial on how to setup all things before setting up the CSS, visit turbohosty.com*/

.author-name:after {
    content: '\f058';
    font-family: FontAwesome;
		font-size: 20px;
    margin-left:8px;
	color:#1DADFF;}
.author-name{
	color:#1DADFF;
}
